* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  -webkit-tap-highlight-color: transparent;
}

body {
  margin: 0;
  font-family: 'Montserrat', sans-serif;
  
  background: 
    radial-gradient(circle at 100% 0%, rgba(26, 68, 212, 0.9) 0%, transparent 75%),
    radial-gradient(circle at 0% 100%, rgba(82, 85, 247, 0.55) 0%, transparent 60%),

    #000000; 

  background-attachment: fixed; 
  color: #fff;
  user-select: none;
  overflow-x: hidden;
  min-height: 100vh;
}
html {
  scroll-behavior: smooth;
}
